.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: transparent;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.background {
  flex: 1;
  background-color: transparent;
  /* add your background color here */
}

.App-link {
  color: #61dafb;
}
